.projectLst{
    /* border: solid red; */
    margin: 80px 0px 50px 0px;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    row-gap: 25px;
}


@media (max-width: 768px) {
    .projectLst{
        margin-top: 70px;
        justify-content: center;
    }


}